@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&family=Underdog&display=swap');
*{
    margin: 0;
    padding: 0; 
    /* box-sizing: border-box; */
    /* background: #ffa600; */
}

body{
    background: #ffa600;
    color: #000;
}

.TITULO-PRINCIPAL p{
    font-size: 50px;
    text-align: center;
    padding: 20px 0;
}

.contenedor{
    width: 90%;
    border: 30px solid #FFFFFF;
    margin: auto;
    line-height: 30px;
    text-align: center;
    border-radius: 25px;
    border-style:double;
}

.contenedor > div {
    display: block;
    padding: 20px;
    color: #fff;
}

/* Quitar el subrayado a los botones */
a{
    text-decoration: none;
}

#navbar a{
    color: #ffffff;
}

#navbar ul{
    list-style: none;
    font-size: 25px;
    padding-top: 0.5cm;
    font-weight: 400;
    float: left;
}

#navbar ul li{
    float: left;
}

#navbar ul li a{
    display: block;
    padding: 30px;
    text-align:center;
}

#navbar ul li a:hover{
    background: #2f89fc;
    border-style: solid;
}

.Titulo h1{
    text-align: center;
    color: #2f89fc;
    text-size-adjust:inherit;
    font-size: 55px;
    padding-bottom: 5%;
}
.Subtitulo h1{
    text-align: center;
    color: #2f89fc;
    text-size-adjust:inherit;
    padding-bottom: 5%;
}
.Organizadores h1{
    text-align: center;
    color: #2f89fc;
    text-size-adjust:inherit;
    padding-bottom: 5%;
}
.Info h1{
    text-align: center;
    color: #2f89fc;
    text-size-adjust:inherit;
    padding-bottom: 5%;
}

p, label{
    font-size: 20px;
}

.contenedor .ImagenOrg{
    max-width: 100%;
    max-height: 100%;
}

.contenedor .ImagenOrg .ImgOrg{
    height: 100%;
    width: 100%;
    object-fit:contain;
}

.expo1{
    height: 88%;
    width: 88%;
    object-fit: contain;
    margin-left: 3cm;   
}

/* Contact */
.contenedor .RContacto{
    font-size: 35px;
    
}
.RContacto input, select{
    display: block;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 25%;
}
footer .socials{
  list-style: none;
    display:inline-flex;
    font-size: 25px;
    justify-items: center;
    padding-left: 50%;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-top: 2%;

}
.RContacto textarea{
    background: #2EC4B6;
    border: 1px solid #2EC4B6;
    color: #fff;
    width: 70%;
}

.RContacto input, select{
    background: #2EC4B6;
    border: 1px solid #2EC4B6;
    color: #fff;
    width: 50%;
  }

.RContacto input:hover {
    background: #fff;
    border: 1px solid #2EC4B6;
    color: #2EC4B6;
  }

/* Clima */
.Clima{
    text-align:center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap:10px;
    align-items: center;
    justify-content: center;
}
#caja1 {
    background-color: rgba(0,0,0,0.767);
    color:azure;    
}

#caja2 {
    background-color: rgb(58, 86, 211);
    color:azure;    
}
#caja3 {
    background-color: #2ab2ea;
    color:azure;    
}

#mapa iframe {
    padding: 5%;
    width: 90%;
    height: 80%;
    margin: 0;
  }